@keyframes color_anim {
  from {
    color: crimson;
  }
  to {
    color: aqua;
  }
}

@-webkit-keyframes color_anim {
  from {
    color: crimson;
  }
  to {
    color: aqua;
  }
}

.nav_title {
  color: crimson;
  animation: color_anim 2s infinite alternate;
}

.container {
  display: flex;
  flex-direction: row;
}

.box {
  background-color: #eff;
  border: 2px solid #a8a8a8;
  box-shadow: 2px 2px 4px grey;
  margin: 10px 25px 5px 25px;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.body {
  font-size: 1.2vw;
}

.aside {
  min-width: 360px;
  width: 45%;
}
.main {
  min-width: 360px;
  width: 45%;
}
.nav {
  min-width: 120px;
  width: 15%;
}
